<p id="notice"><%= notice %></p>

<h1>Listing Programs</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Am on</th>
      <th>Am off</th>
      <th>Pm on</th>
      <th>Pm off</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= program.day %></td>
        <td><%= program.am_on %></td>
        <td><%= program.am_off %></td>
        <td><%= program.pm_on %></td>
        <td><%= program.pm_off %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program', new_program_path %>
