
<div class="header">
	<h1>RaddyAtor<br>

</div>

<div class="hidden path">
<%= @path %>
</div>

<div class="row-eq-height">

	<div class="cent tbg col-lg-3 col-md-12">
		
				<span>
					<button type="button" class="up btn btn-danger">Increase Temp</button>
				</span>
				<br>
				<span>
					<button type="button" class="down btn btn-primary">Decrease Temp</button>
				</span>

	</div>

	<div class="cent tbg col-lg-3 col-md-12">
			Setpoint: 
			
			<h1 class="csp">
				<%= @setpoint %>°
			</h1>
			
			Range: ± <%= @range %> °

			<% if @heating %>
				Heating 
			<% end %>
			diff: <%= @diff %>
	</div>

	<div class="cent tbg col-lg-3 col-md-12">

			Current Indoor Temp: 
			<h1 class="cit">
				<%= @current_inside %>°
			</h1>

	</div>

	<div class="cent tbg col-lg-3 col-md-12">

			Outside:<br>


			<h1 class="current-temp">--</h1>



			<h2 class="current-weather">--</h2>

	</div>


</div> <!-- end row -->

	
	

