<!DOCTYPE html>
<html>
<head>
  <title>Raddyator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<div class="navbar-link">
		<a href="/">
			Home
		</a>
	</div>
	<div class="navbar-link">
		<%= link_to 'Settings', settings_path %>
	</div>
</div>


<%= yield %>

</body>
</html>
